git+https://github.com/roboflow/sports.git

Django==4.2.20
django-widget-tweaks==1.5.0
dotenv==0.9.9
fastapi==0.110.3
inference==0.45.0
mysqlclient==2.2.7
numpy==1.26.4
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
pytest-cov==6.1.1
python-multipart==0.0.20
Requests==2.32.3
scikit_learn==1.6.1
sports==0.1.0
supervision==0.25.1
tensorflow==2.16.2
ultralytics==8.3.98
uvicorn==0.34.0
