{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-5 display-4 fw-semibold">Object Detection: {{ detection_time }}</h1>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-9">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <div id="detectionContainer" class="mt-4">
                        <h3 class="mt-4 text-center">Detection Result</h3>
                        <div class="d-flex justify-content-center">
                            <img id="resultImage" src="data:image/jpeg;base64, {{ detection_image }}" class="img-fluid mt-3 shadow" style="max-width: 99%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
