{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-5 display-4 fw-semibold" id="decisionText">
        Offside Decision pending...
    </h1>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-79">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">

                    <!-- Offside radar view -->
                    <div id="radarContainer" class="mt-4">
                        <div class="d-flex justify-content-center">
                            <img id="radarImage" src="data:image/jpeg;base64, {{ offside_radar_view }}" alt="Offside Radar View" class="img-fluid mt-3 shadow" style="max-width: 99%;">
                        </div>
                    </div>

                    <!-- Offside decision override menu -->
                    <div id="overrideFormContainer" class="mt-5">
                        <form id="overrideForm" class="text-center">
                            <div class="mb-4">
                                <input type="hidden" name="algorithmDecision" value="{{ algorithm_decision }}">
                                {% if algorithm_decision == "Offside" %}
                                    <h3 class="text-danger fw-bold mb-4">
                                        At least one attacking player is offside, this play should be considered offside.
                                    </h3>
                                {% else %}
                                    <h3 class="text-sucess fw-bold mb-4">
                                        No attacking player is offside, this play should be considered onside.
                                    </h3>
                                {% endif %}

                                <label class="form-label d-block"><h4>Is the decision correct?</h4></label>
                                <div class="mt-4 d-grid gap-3 col-6 mx-auto">
                                    <button id="confirmDecisionBtn" type="submit" class="btn btn-success btn-lg">✅ Yes, Confirm</button>
                                </div>
                                <div class="mt-4 d-grid gap-3 col-6 mx-auto">
                                    <button id="overrideDecisionBtn" type="submit" class="btn btn-danger btn-lg">❌ No, Override</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Alert container (position fixed) -->
    <div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;"></div>
</div>


{% csrf_token %}

<script>
    // TODO: Move this to utility js file
    function showAlert(message, type, duration = 3000) {
        const alertContainer = document.getElementById('alert-container');

        const alert = document.createElement('div');
        alert.className = `alert alert-${type} alert-dismissible fade show`;
        alert.role = 'alert';
        alert.innerHTML = `
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;

        alertContainer.appendChild(alert);

        setTimeout(() => {
            alert.classList.remove('show');
            alert.classList.add('hide');
            setTimeout(() => alert.remove(), 300)
        }, duration);
    }

    const csrftoken = Cookies.get('csrftoken');

    const decisionText = document.getElementById("decisionText");
    let finalDecision = null;

    const overrideFormContainer = document.getElementById("overrideFormContainer");
    const overrideForm = document.getElementById("overrideForm");

    overrideForm.addEventListener("submit", function(event) {
        event.preventDefault();

        const clickedBtn = event.submitter;
        const algorithmDecision = "{{ algorithm_decision }}"

        if (clickedBtn.id == "confirmDecisionBtn") {
            finalDecision = algorithmDecision;
        }
        else if (clickedBtn.id == "overrideDecisionBtn") {
            finalDecision = algorithmDecision == "Onside" ? "Offside" : "Onside";
        }

        decisionText.textContent = "Final decision: " + finalDecision;
        overrideFormContainer.style.display = 'none';

        fetch("{% url 'store_offside' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({
                algorithm_decision: algorithmDecision,
                final_decision: finalDecision
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Failed to save image");
            }
            showAlert("Offside decision saved successfully!", "success")
        })
    });
</script>

{% endblock %}
