{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4" id="decisionText">Offside Decision pending...</h2>

    <!-- Offside radar view -->
     <div id="radarContainer" class="mt-5">
        <div class="d-flex justify-content-center">
            <img id="radarImage" src="data:image/jpeg;base64, {{ offside_radar_view  }}" alt="Offside Radar View" class="img-fluid mt-2 shadow" style="max-width: 700px;">
        </div>
     </div>

     <div id="alert-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;"></div>

    <!-- Offside decision override menu -->
    <div id="overrideFormContainer" class="mt-5">
        <form id="overrideForm" class="text-center">
            <div class="mb-3">
                <input type="hidden" name="algorithmDecision" value="{{ algorithm_decision }}">
                {% if algorithm_decision  == "Offside" %}
                    <h4>At least one attacking player is offside, this play should be considered offside.</h6>
                {% else %}
                    <h4>No attacking player is offside, this play should be considered onside.</h6>
                {% endif %}

                <label class="form-label d-block"><h5>Is the decision correct?</h5></label>
                <div class="mt-3 d-grid gap-2">
                    <button id="confirmDecisionBtn" type="submit" class="btn btn-success">Yes</button>
                </div>
                <div class="mt-3 d-grid gap-2">
                    <button id="overrideDecisionBtn" type="submit" class="btn btn-danger">No</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% csrf_token %}

<script>
    // TODO: Move this to utility js file
    function showAlert(message, type, duration = 3000) {
        const alertContainer = document.getElementById('alert-container');

        const alert = document.createElement('div');
        alert.className = `alert alert-${type} alert-dismissible fade show`;
        alert.role = 'alert';
        alert.innerHTML = `
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;

        alertContainer.appendChild(alert);

        setTimeout(() => {
            alert.classList.remove('show');
            alert.classList.add('hide');
            setTimeout(() => alert.remove(), 300)
        }, duration);
    }

    const csrftoken = Cookies.get('csrftoken');

    const decisionText = document.getElementById("decisionText");
    let finalDecision = null;

    const overrideFormContainer = document.getElementById("overrideFormContainer");
    const overrideForm = document.getElementById("overrideForm");

    overrideForm.addEventListener("submit", function(event) {
        event.preventDefault();

        const clickedBtn = event.submitter;
        const algorithmDecision = "{{ algorithm_decision }}"

        if (clickedBtn.id == "confirmDecisionBtn") {
            finalDecision = algorithmDecision;
        }
        else if (clickedBtn.id == "overrideDecisionBtn") {
            finalDecision = algorithmDecision == "Onside" ? "Offside" : "Onside";
        }

        decisionText.textContent = "Final decision: " + finalDecision;
        overrideFormContainer.style.display = 'none';

        fetch("{% url 'store_offside' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({
                algorithm_decision: algorithmDecision,
                final_decision: finalDecision
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Failed to save image");
            }
            showAlert("Offside decision saved successfully!", "success")
        })
    });
</script>

{% endblock %}
